{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4 text-primary">Mon Profil</h1>
		<ul class="list-group mt-3">
			<li class="list-group-item">
				{{app.user.nom}}
				{{ utilisateur.prenom }}</li>
			<li class="list-group-item">
				<strong>Email :</strong>
				{{ utilisateur.email }}</li>
			<li class="list-group-item">
				<strong>Email :</strong>
				{{ utilisateur.Adresse }}</li>
			<li class="list-group-item">
				<strong>Email :</strong>
				{{ utilisateur.Ville }}</li>
			<li class="list-group-item">
				<strong>Email :</strong>
				{{ utilisateur.Codepostal }}</li>
			<li class="list-group-item">
				<strong>Date d'inscription :</strong>
				{{ utilisateur.dateinscription | date("d-m-Y H:i:s") }}</li>
			<li class="list-group-item">
				<strong>Rôle :</strong>
				{% if 'ROLE_ADMIN' in utilisateur.roles %}
					<span class="badge bg-success">Administrateur</span>
				{% elseif 'ROLE_MODERATOR' in utilisateur.roles %}
					<span class="badge bg-warning">Modérateur</span>
				{% else %}
					<span class="badge bg-primary">Utilisateur</span>
				{% endif %}
			</li>
		</ul>
		<div class="d-flex justify-content-end mt-3">
			<a href="{{ path('app_change_motpasse') }}" class="btn btn-outline-primary me-2">Modifier votre mot de passe</a>
			<a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
		</div>
	</div>
{% endblock %}
